@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--bg-body: #0a0a0b;
	--bg2: #111114;
	--bg3: #18181c;
	--text: #f0ede8;
	--text2: #9e9b94;
	--text3: #5a5855;
	--accent-orange: #e8500a;
	--accent-orange2: #ff6a25;

	--border-main: #ffffff12;
	--border2: #ffffff21;

	--black: #0a0a0a;
	--white: #f5f2ee;
	--lime: #c8ff00;
	--cyan: #00d4ff;
	--mid: #141414;
	--gray: #6b6864;

	--error: #e24b4a; 
	--success: #1d9e75;

	--letter-spacing-title: 0.25rem;
	--letter-spacing-text: 0.0125rem;

	--border-bottom-section: #1e1e1e;
	--header-bg-transparent: #0a0a0bb3;

	--border: #ffffff12;
	--border2: #ffffff21;

	--backdrop-filter: blur(8px);

	--font-display: 'Bebas Neue', sans-serif;
	--font-body: 'DM Sans', sans-serif;

	--red: #e53704;
	--orange: #fd6f00;
	--yellow: #f0cd13;
	--accent-green: #73d62b;
	--green: #03a337;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--bg-body);
	color: var(--text);
	font-family: var(--font-body);
	line-height: 1;
	letter-spacing: var(--letter-spacing-text);
	font-size: 1.125rem;
	transition: background-color 1s, color 1s;

	&[data-theme='light'] {
		/* --bg-body: #f8f5f0; */
		/* --bg2: #f0ede8; */
		/* --text: #1c1814;  */
		/* --text2: #4a4540; */
		/* --accent-orange: #e8500a;  */
		/* --accent-orange2: #ff6a25; */
		/* --success: #1d9e75; */
		/* --border-main: #d4cdc2; */

		--bg-body: #f5f1e9;
		--bg2: #ede6d9;
		--bg3: #e4d9c4;
		--text: #2a241b;
		--text2: #5c5246;
		--border-main: #d2c4ab;
		--header-bg-transparent: var(--bg3);
		--mid: var(--bg3);
	}
	
	&[data-theme='dark'] {
		/* --bg-body: var(--bg-body); */
		--text: var(--white)
	}
}

.container {
	@apply mx-auto px-5 py-10;
}

.main-section-label {
	font-size: 0.825rem;
	letter-spacing: var(--letter-spacing-title);
	color: var(--accent-green);
	margin-bottom: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	gap: 1.25rem;
	justify-content: flex-end;

	&::after {
		content: '';
		display: block;
		width: 3rem;
		height: 2px;
		background-color: var(--accent-green);
	}
}

.btn {
	padding: 0.75rem 1.25rem;
	font-weight: 600;
	cursor: pointer;
	transition: color 0.3s ease, background-color 0.3s ease;

	&.primary {
		background-color: var(--accent-orange2);
		color: var(--white);
		border: none;
		border-radius: 4px;

		@media (hover: hover) {
			&:hover {
				background-color: var(--accent-orange);
				color: var(--white);
			}
		}
	}

	@media (hover: hover) {
		&:hover {
			color: var(--gray);
		}
	}
}

.border-bottom::after {
	content: '';
	border-bottom: 1px solid var(--border-bottom-section);
	width: 100%;
	height: 1px;
	display: flex;
}

.contact-nav-icon {
	border: 1px solid var(--border);
	padding: 0.5rem;
}

